<div class="jumbotron">
  <h1>ElectroShack</h1>
</div>

<% customer = Customer.find(@order.customer_id) %>

<div class="row" id="head">
  <div class="col-md-2">
    <h3>Customer Name</h3>
  </div>
  <div class="col-md-2">
    <h3>Order Number</h3>
  </div>
  <div class="col-md-2">
    <h3>Order Date</h3>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <h4><%= "#{customer.first_name} #{customer.last_name}" %></h4>
  </div>
  <div class="col-md-2">
    <h4><%= @order.id %></h4>
  </div>
  <div class="col-md-2">
    <h4><%= @order.created_at %></h4>
  </div>
</div>
<div class="row" id="head">
  <div class="col-md-2">
    <h3>Product</h3>
  </div>
  <div class="col-md-2">
    <h3>Price</h3>
  </div>
</div>
<% @order.products.each do |p| %>
  <div class="row">
    <div class="col-md-2">
      <h4><%= link_to p.name, product_path(p) %></h4>
    </div>
    <div class="col-md-2">
      <h4>$<%= p.price %></h4>
    </div>
  </div>
<% end %>
<div class="row">
  <div class="col-md-2">
    <h4>Total:</h4>
  </div>
  <div class="col-md-2">
    <h4>$<%= @order.total %></h4>
  </div>
</div>